version: "3.12"

services:
  python:
    container_name: pythonx_v2
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      - PYTHONUNBUFFERED=1
    command: python sticker_bot.py